body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
}

li {
  list-style: none;
}

.separator {
  width: 100%;
  height: 12vh;
  background-color: #fff;
}

/* Hero section */
.hero {
  position: relative;
  top: 0;
  width: 100%;
  height: 100dvh;
  background-image: url(img/pexels-jakub-novacek-924824.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  height: 60%;
  color: #fff;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2;
  padding: 1em;
}

.hero-heading {
  font-size: 2.25rem;
}

.hero-link {
  width: fit-content;
  color: #fff;
  font-size: 1.5rem;
  padding: 0 1em;
  margin-top: 1em;
  border: 1px solid #fff;
  transition: 0.5s;
}

.hero-link:hover,
.hero-link:focus {
  background-color: #fff;
  color: rgb(60, 52, 67);
}

.hero-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-pic img {
  width: 90%;
  border-radius: 50%;
  outline: 1px solid #fff;
}

/* Skills section */

.skills {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(60, 52, 67);
  padding: 20px 0;
}

.horizontal-scroll {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.skill {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  width: 100%;
  scroll-snap-align: center;
}

#button-left,
#button-right {
  position: absolute;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 2rem;
}

#button-left:hover,
#button-right:hover {
  color: #fff;
  cursor: pointer;
}

#button-left {
  left: 20px;
}

#button-right {
  right: 20px;
}

/* Projects section */

.projects {
  outline: 1px solid rgb(60, 52, 67);
}
/* Media queries */

@media (max-width: 768px) {
  .separator {
    height: 8vh;
  }
  .hero-content {
    grid-template-columns: 1fr;
    width: 60%;
  }
  .hero-heading {
    font-size: 1.75rem;
  }
  .hero-info p {
    font-size: 1rem;
  }
  .hero-link {
    font-size: 1.25rem;
  }
  .hero-pic {
    display: none;
  }
  .skill {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .hero-heading {
    font-size: 1.4rem;
  }
  .hero-info p {
    font-size: 1rem;
  }
  .hero-link {
    font-size: 1rem;
  }
}
