body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Heading sekcija*/
.container {
    background-image: url(images/nicola-de-poli-AsUpMlc1moY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.front {
    width: 100%;
    height: 90vh;
    color: rgb(57, 57, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading {
    text-shadow: 1px 1px 1px #fff;
}

.nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav-list {
    list-style: none;
    display: flex;
}

.nav .nav-list .nav-item a:link,
.nav .nav-list .nav-item a:visited {
    color: rgb(57, 57, 57);
    text-decoration: none;
    font-size: 2rem;
    margin-right: 1.5em;
}

.about:link,
.about:visited {
    color: rgb(57, 57, 57);
    text-decoration: none;
    margin-right: 1.5rem;
}

.nav .nav-list .nav-item a:hover,
.nav .nav-list .nav-item a:focus,
.about:hover,
.about:focus
{
    outline: none;
    color: black;
}

/*Main sekcija*/
main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.separator {
    width: 100%;
    height: 15vh;
}

.about-section {
    max-width: 80%;
    background-color: rgb(244, 244, 244);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    padding: 2em;
    border-right: 5px solid rgb(165, 108, 42);
}

.about-section figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-section figure img {
    width: 80%;
    border-radius: 50%;
    padding: 2em 1em 2em 1em;
}

.about-section figure figcaption {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(57, 57, 57);
}

.about-section section {
    margin: 1em;
    padding: 1em;
}

.head {
    color: rgb(57, 57, 57);
    font-size: 1.75rem;
    margin-block-start: 0;
}

.para {
    color: rgb(57, 57, 57);
    line-height: 1.5;
}