/*Opsti selektori*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover, a:focus {
    color: #555555;
    outline: none;
}

/*Heading sekcija*/
.container {
    background-image: url(images/nicola-de-poli-AsUpMlc1moY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.front {
    width: 100%;
    height: 90vh;
    color: #393939;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading {
    text-shadow: 1px 1px 1px #fff;
}

.nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list .nav-item a:link,
.nav-list .nav-item a:visited {
    color: #4b4b4b;
    font-size: 2rem;
    margin-right: 1.5em;
}

.about:link,
.about:visited {
    color: #4b4b4b;
    margin-right: 1.5rem;
}

.nav-list .nav-item a:hover,
.nav-list .nav-item a:focus,
.about:hover,
.about:focus
{
    color: #000;
}

/*Main sekcija*/
main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ececec;
}

/*Separator*/
.separator {
    width: 100%;
    height: 12vh;
}

/*About me sekcija*/
.about-section {
    max-width: 80%;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    padding: 2em;
    border-right: 5px solid #a56c2a;
}

.about-section figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-section figure img {
    width: 80%;
    border-radius: 50%;
    padding: 2em 1em 2em 1em;
}

.about-section figure figcaption {
    font-size: 1.5rem;
    font-weight: 700;
    color: #393939;
}

.about-section section {
    margin: 1em;
    padding: 1em;
}

.head {
    color: #393939;
    font-size: 1.75rem;
    margin-block-start: 0;
}

.cetvorka {
    font-size: 1rem;
    margin-top: 1em;
    text-align: center;
}

.para {
    color: #393939;
    line-height: 1.5;
}

/*Skills*/
.skills-section {
    width:80%;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em;
}

.caption {
    grid-column: 1 / 4;
}

.languages,
.frameworks,
.others {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.frameworks {
    border-left: 1px solid #a56c2a;
    border-right: 1px solid #a56c2a;
}
.skills {
    list-style: none;
    padding-inline-start: 0;
}

.skills li {
    color: #393939;
    margin-bottom: 1em;
}

/*Projekti sekcija*/
.projects-section {
    width: 80%;
    padding: 2em;
    background-color: #f4f4f4;
    border-radius: 15px 0 0 15px;
    border-right: 5px solid #a56c2a;
}

.projects {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    min-width: 250px;
    flex: 1;
    outline: 1px solid #a56c2a;
    display: flex;
    justify-content: stretch;
    background-color: #ffa238;
    padding: 1em 0 1em 0;
}

.project-txt {
    padding: 0 1em 0.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.project-link:link,
.project-link:visited {
    padding: 0.5em 1em 0.5em 1em;
    border: 1px solid #a56c2a;
    border-radius: 15px;
}

.project-link:hover,
.project-link:focus {
    color: #fff;
    background-color: #a56c2a;
}

.project-link:active {
    color: #fff;
    background-color: #7a501f;
    border: 1px solid #7a501f;
}

.project .project-txt .bijela {
    margin-block-end: 0;
}

/*Footer*/
footer {
    background-color: #393939;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 1em;
}

.social-networks {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
}

.social-networks li{
    font-size: 2rem;
    margin-right: 1.5em;
}

h4.bijela, .bijela{
    color: #fff;
    text-align: left;
}

.go-up {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
}

.go-up img {
    width: 100%;
    background-color: #fff;
    border-radius: 50%;
}

.go-up-link {
    width: 15%;
    border-radius: 50%;
    cursor: default;
}

.go-up a img:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
    cursor: pointer;
}

.last-line {
    grid-column: 1 / 5;
    font-size: 0.9rem;
    text-align: center;
}